@import "../../../styles/_shared.scss";

nav {
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  height: 64px;
  .logo {
    font-size: 4em;
    color: $white;
  }

}

@media all and (max-width: 768px) {
  nav {
    padding: 20px 0;
    justify-content: center;
    text-align: center;
  }
}
