@import "../../../styles/_shared.scss";

nav {
  height: 100px;
  background-color: $navbar;

  > div {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;

    .logo {
      font-size: 4em;
      color: $white;
    }
  }

}

@media all and (max-width: 768px) {
  nav {
    padding: 10px 0;
    height: auto;

    > div {
      justify-content: center;
      padding: 0;

      uc-quichaud {
        display: none;
      }

      .logo {
        font-size: 3.5em;
      }
    }
  }
}
