<section class="convert-chaltiel">
  <div class="subtitle">EUR / UC</div>
  <div class="row inputs">
    <div class="left-part">
      <mat-form-field class="value" appearance="outline">
        <input *ngIf="switchCurrency" matInput step="0.1" type="number" [formControl]="eurosCurr" [(ngModel)]="eurosCurrValue">
        <input *ngIf="!switchCurrency" matInput step="0.1" type="number" [formControl]="chaltielCurr" [(ngModel)]="chaltielCurrValue">
        <mat-label>Montant</mat-label>
        <mat-icon *ngIf="switchCurrency" matSuffix class="icon-euros"></mat-icon>
        <mat-icon *ngIf="!switchCurrency" matSuffix class="icon-chaltiel"></mat-icon>
      </mat-form-field>
    </div>
    <div class="right-part">
      <mat-form-field class="converted" appearance="outline">
        <input *ngIf="switchCurrency" matInput type="number" [(ngModel)]="chaltielCurrValue" disabled>
        <input *ngIf="!switchCurrency" matInput type="number" [(ngModel)]="eurosCurrValue" disabled>
        <mat-label>Converti en</mat-label>
        <mat-icon *ngIf="switchCurrency" matSuffix class="icon-chaltiel"></mat-icon>
        <mat-icon *ngIf="!switchCurrency" matSuffix class="icon-euros"></mat-icon>
      </mat-form-field>
    </div>
  </div>


  <div class="row switcher">
    <div class="left-part">
      <mat-form-field class="converted" appearance="outline">
        <input matInput type="text" [ngModel]="firstCurrency" disabled class="icon-chaltiel">
        <mat-label>Depuis</mat-label>
        <mat-icon matSuffix><span class="icon-europe"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
          class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span
          class="path11"></span><span class="path12"></span><span class="path13"></span></span></mat-icon>
      </mat-form-field>

      <div class="switch icon-arrows" (click)="change()"></div>

      <mat-form-field class="converted" appearance="outline">
        <input matInput type="text" [ngModel]="secondCurrency" disabled>
        <mat-label>Vers</mat-label>
        <mat-icon matSuffix><span class="icon-europe"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
          class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span
          class="path11"></span><span class="path12"></span><span class="path13"></span></span></mat-icon>
      </mat-form-field>
    </div>
    <div class="right-part">
      <div class="curencies-rate"><span class="icon-circle"></span> 1 UC <span class="icon-arrow-right"></span> 20,33 EUR</div>
      <div class="market-rate">Taux de change du marché à {{ date | date: 'HH:mm:ss O' }}</div>
    </div>
  </div>

  <div class="row footer">
    <div class="left-part">
      <div>
        <div class="fline">Economisez plus d'argent avec
          <div><span class="icon-chaltiel"></span> UC <span class="converter-word-color">Converter</span></div>
          .
        </div>
        <div class="sline">&nbsp;Nous vous donnons le taux de change réel et nos faibles frais équitables - vous saurez donc toujours combien vous recevrez, même sur votre prime d'été.
        </div>
      </div>
    </div>
    <div class="right-part">
      <button mat-button color="primary" (click)="toCurrencyRate()"><span class="icon-arrow-down"></span> Suivre le cours du Chaltiel en temps réel</button>
    </div>
  </div>
</section>
