$background: #465a88;
$buttons: #2ed06e;
$footer: #f3f3f3;
$border: #e1e1e1;
$white: #fff;
$black: #000;
$gray: #a7a7a7;
$navbar: #354A7B;

$standard: 'Calibri', sans-serif;
$chalet-bold: 'Chalet-LondonNineteenSeventy', sans-serif;
$chalet-normal: 'Chalet-ParisNineteenSeventy', sans-serif;
