@font-face {
  font-family: 'Chalet-ParisNineteenSeventy';
  src: url('/assets/fonts/Chalet-ParisNineteenSeventy.eot');
  src: url('/assets/fonts/Chalet-ParisNineteenSeventy.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Chalet-ParisNineteenSeventy.woff2') format('woff2'),
  url('/assets/fonts/Chalet-ParisNineteenSeventy.woff') format('woff'),
  url('/assets/fonts/Chalet-ParisNineteenSeventy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet-LondonNineteenSeventy';
  src: url('/assets/fonts/Chalet-LondonNineteenSeventy.eot');
  src: url('/assets/fonts/Chalet-LondonNineteenSeventy.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Chalet-LondonNineteenSeventy.woff2') format('woff2'),
  url('/assets/fonts/Chalet-LondonNineteenSeventy.woff') format('woff'),
  url('/assets/fonts/Chalet-LondonNineteenSeventy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('/assets/fonts/Calibri.eot');
  src: url('/assets/fonts/Calibri.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Calibri.woff2') format('woff2'),
  url('/assets/fonts/Calibri.woff') format('woff'),
  url('/assets/fonts/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

