@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dy6x0j');
  src:  url('fonts/icomoon.eot?dy6x0j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dy6x0j') format('truetype'),
    url('fonts/icomoon.woff?dy6x0j') format('woff'),
    url('fonts/icomoon.svg?dy6x0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quichaud:before {
  content: "\e904";
}
.icon-euros:before {
  content: "\e901";
}
.icon-title-uc:before {
  content: "\e902";
}
.icon-uc:before {
  content: "\e913";
}
.icon-europe .path1:before {
  content: "\e914";
  color: rgb(70, 90, 136);
}
.icon-europe .path2:before {
  content: "\e915";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path3:before {
  content: "\e916";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path4:before {
  content: "\e917";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path5:before {
  content: "\e918";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path6:before {
  content: "\e919";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path7:before {
  content: "\e91a";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path8:before {
  content: "\e91b";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path9:before {
  content: "\e91c";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path10:before {
  content: "\e91d";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path11:before {
  content: "\e91e";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path12:before {
  content: "\e91f";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-europe .path13:before {
  content: "\e920";
  margin-left: -1.5263671875em;
  color: rgb(255, 225, 90);
}
.icon-circle:before {
  content: "\e912";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrows:before {
  content: "\e900";
}
