@import "../../../styles/shared";

:host {
  text-align: center;
  font-family: $chalet-bold;
  color: $white;
}

h3 {
  font-family: $chalet-normal;

}

.content-chart {
  width: 80vw;
  margin: 0 auto;
}

.containbtn {
  text-align: center;
  margin-top: 5px;
}
button {
  background: $buttons;
  color: $white !important;
  margin: 0 auto;
}

