@import "../../../styles/shared";

:host {
  text-align: center;
  font-family: $chalet-bold;
  color: $white;
}

.content-chart {
  width: 80vw;
  margin: 0 auto;
}

button {
  background: $buttons;
  color: $white !important;
  margin: 0 auto;
}

