<h2>Cours du Chaltiel lors des 24 dernières heures</h2>
<h3>Date et heure actuelle : {{ date | date : 'dd-MM-yyyy'}}, {{ date | date : 'HH:mm:ss O  '}}</h3>

<div class="content-chart">
  <canvas baseChart
          chartType="line"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"></canvas>
</div>

<div class="containbtn">
  <button mat-button color='primary' (click)="toConvert()">Revenir au convertisseur</button>
</div>
