@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../styles/_shared.scss";

uc-quichaud {
  display: none;
}

// SURCHARGE MATERIAL
::ng-deep .mat-tab-header {
  border-bottom: 0;
  display:none !important;
}

@media all and (max-width: 768px) {
  uc-quichaud {
    display: block;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
  }
}
