@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../styles/_shared.scss";

section.convert-chaltiel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  width: 80vw;
  margin: 15vh auto 0;
  border-radius: 5px;

  .subtitle {
    position: absolute;
    color: $white;
    top: -35px;
    left: 0;
    font-size: 1.3em;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  height: 60px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .left-part, .right-part {
    width: 50%;
    text-align: center;

  }
}

// FIRST PART
.inputs {
  mat-form-field {
    width: 90%;
    margin: 0 20px;
  }

  .icons {
    position: absolute;
    right: 0;
  }
}

// SECOND PART
.switcher {
  mat-form-field {
    width: 35%;
  }

  .switch {
    display: inline-block;
    width: 20%;
    font-size: 2em;
    color: $buttons;
    cursor: pointer;
  }

  .curencies-rate {
    font-size: 1.5em;

    span:first-child {
      color: $buttons;
      font-size: 0.7em;
      padding-right: 5px;
    }

    span:last-child {
      font-size: .8em;
      padding: 0 4px;
    }
  }

  .market-rate {
    color: $buttons;
    text-decoration: underline;
    margin-top: 5px;
  }
}

// LAST PART
.footer {
  background-color: $footer;
  width: 100%;
  height: 80px;

  .left-part {
    width: 60%;
    text-align: left;

    > div {
      font-size: 0.75em;
      padding-left: 20px;
      margin: 22px auto;
      height: 36px;

      .icon-chaltiel {
        font-size: 1.2em;
      }

      .converter-word-color {
        color: $gray;
      }
    }
  }

  button {
    background: $buttons;
    color: $white;
    height: 36px;
    margin: 22px auto;
  }
}

// SURCHARGE MATERIAL
::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0, 0, 0, .12) !important;
}

::ng-deep input, ::ng-deep .mat-form-field-label {
  color: black !important;
}

.mat-form-field {
  &:focus {
    outline-width: 0;
  }
}

@media all and (max-width: 768px) {

}
