<uc-navbar></uc-navbar>
<!--<section class="convert-chaltiel" [formGroup]="form">
  <mat-form-field class="euros">
    <input matInput step="0.1" type="number" formControlName="euros" (input)="eurosChange()">
    <mat-placeholder class="placeholder icon-euros"></mat-placeholder>
  </mat-form-field>

  <div class="switch icon-arrows"></div>

  <mat-form-field class="uc">
    <input matInput step="0.1" type="number" formControlName="chaltiel" (input)="chaltielChange()">
    <mat-placeholder class="placeholder icon-chaltiel"></mat-placeholder>
  </mat-form-field>
</section>-->
<!---->
<!---->
<!---->
<!---->
<!---->

<section class="convert-chaltiel">
  <div class="subtitle"> EUR / UC</div>
  <div class="row inputs">
    <div class="left-part">

      <mat-form-field class="value" appearance="outline">
        <input matInput step="0.1" type="number" [formControl]="currency" (input)="currencyChange()">
        <mat-label>Montant</mat-label>
        <mat-icon matSuffix class="icon-euros"></mat-icon>
      </mat-form-field>
    </div>
    <div class="right-part">
      <mat-form-field class="converted" appearance="outline">
        <input matInput type="number" [(ngModel)]="tes" disabled>
        <mat-label>Converti en</mat-label>
        <mat-icon matSuffix class="icon-chaltiel"></mat-icon>
      </mat-form-field>
    </div>
  </div>


  <div class="row switcher">
    <div class="left-part">
      <mat-form-field class="converted" appearance="outline">
        <input matInput type="text" [ngModel]="valueSwitch" disabled>
        <mat-label>Depuis</mat-label>
        <mat-icon matSuffix class="icon-chaltiel"></mat-icon>
      </mat-form-field>

      <div class="switch icon-arrows" (click)="change()"></div>

      <mat-form-field class="converted" appearance="outline">
        <input matInput type="text" [ngModel]="valueSwitch" disabled>
        <mat-label>Vers</mat-label>
        <mat-icon matSuffix class="icon-chaltiel"></mat-icon>
      </mat-form-field>
    </div>
    <div class="right-part">
      bla
    </div>
  </div>

  <div class="row footer">
    <div class="left-part">
    </div>
    <div class="right-part">

    </div>
  </div>
</section>

<uc-bourse></uc-bourse>
