/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/icomoon/style.css";


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('./assets/hagridhouse.jpg') no-repeat #ecece4;
}
